<!DOCTYPE HTML>
<!--[if it IE 7]>        <html class="no -js It-ie9 It-ie8 It-ie7"><![endif]-->
<!--[if IE 7]>           <html class="no -js It-ie9 It-ie8"><![endif]-->
<!--[if IE 8]>           <html class="no -js It-ie9"><![endif]-->
<!--[if gt IE 8]>        <html class="no -js"><!--<![endif]-->
<html>
    <head>
        <meta charset ="utf-8">
        <meta http-equive="X-UA-Compatible" content="IE=edge">
        <title>loginpage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <link rel="stylesheet" href="static/style.css">
        
    </head>
    
    <body>
        <nav>
            <link rel="stylesheet" href="static/navbar.css">
            
            
           
            <a class="active" href="http://127.0.0.1:8000/">Home</a>
            <link rel="stylesheet" href="static/navbar.css">
            </nav>
        
                
          
        <form action="/home" method="POST">
            {% csrf_token %}
            <div class="container">
            <div class="card">
                <div class="messages">
                    {%for message in messages%}
                    
                        <strong>{{message}}</strong><a class="active" href="http://127.0.0.1:8000/">Close</a>
                                          
                     
                        {%endfor%}</div>
            <h1><u>Home</u></h1>
            <label for="username"></label>
                   
          
        <button type="submit"><b><font size=3><a href="/log">Login</b></font></a></button><br>
        <div class="para1">
        <p>Click Login,if you are already a user.</p></div>
        
        
        <div class="para2">
            
        <br><p> <a href="/signup">Click here to Register,If you are not a user.</a></p></div>
            </form>
        
        <script src="" async defer></script>
        </div></div>
    </div>
    </body>
    </html>